a {
  text-decoration:none;
  color:black;
}

a:hover{
  color:#6a7efc;
  text-decoration:underline;

}

.navbar-light .navbar-brand {
  
  font: italic small-caps bold 25px Georgia, serif;
  color:#6a7efc;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color:#6a7efc;
    text-decoration:none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #6a7efc;  
    text-decoration:underline;
}

.dropdown-item:hover{
  color: #6a7efc;  
  text-decoration:underline;

}

.title-font{
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn-outline-success {
  border-color:#6a7efc;  
  color:#6a7efc;  
  width:105px;
  height: 40px;
  font-weight: 600;
  
}

.btn-outline-success:hover{

  background-color:#6a7efc;  
  color:white;
}



.btn-primary{
  background-color:white;
  border-color:#6a7efc;   
  color:#6a7efc;  
  font-weight: 600;

}

.btn-primary:hover{
  background-color:#6a7efc;  
  color:white;
  text-decoration:none;

}

.card{
  text-align:center;
}

.title{
   
  letter-spacing: 1px; 
  font-weight: 700;
  border-bottom: 1px solid black;
}

.col{
  display:flex;
  flex-direction:column;
  padding: 15px;
}


.icon-box{
  font-size: 24px;
}

.icon-box:hover{
  text-decoration:none;


}

.footer-lastline{
  font-size: 13px;
  display: flex;
  align-items: center;
  border-top: 1px solid grey;

}

  
@media screen and (max-width:100rem) {
  img{
    width:100%;
    height:100%;
  }

}
